.App {
  font-family: 'Source Sans Pro';
}

.App-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  max-height: 20vw;
  background-color: #333;
}

.App-logo {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: -15vw;
}

.App-title {
  margin-top: 4vw;
  z-index: 2;
  line-height: 0;
  text-align: center;
}

.App-title h1 {
  font-family: 'Bungee Outline', cursive;
  font-size: 10vh;
  color: #f1f1f1;
  text-decoration: underline;
}

.App-subtitle {
  color: #ccc;
}
